{% extends 'markdown2html/base.html' %}

{% block body %}
{% if user.is_superuser %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>{% block title %}{% endblock %}</h3>
                    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'markdown2html/form_template.html' %}
                        <div class="from-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">{% block button %}{% endblock %}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <h2>Sorry, you do not have access to that!</h2>
</div>
{% endif %}
{% endblock %}
